<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BtcCoreRpcUrl</key>
	<string>https://btc.horizontalsystems.xyz/rpc</string>
	<key>BuildMachineOSBuild</key>
	<string>19H15</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Portal</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon-mac</string>
	<key>CFBundleIconName</key>
	<string>AppIcon-mac</string>
	<key>CFBundleIdentifier</key>
	<string>com.tides.portal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Portal</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12D4e</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>20C63</string>
	<key>DTSDKName</key>
	<string>macosx11.1</string>
	<key>DTXcode</key>
	<string>1240</string>
	<key>DTXcodeBuild</key>
	<string>12D4e</string>
	<key>EtherscanApiKey</key>
	<string>PYPJHJFA2MUT12KPTT8FCKPAMGHTRDQICB</string>
	<key>FixerApiKey</key>
	<string>13af1e52c56117b6c7d513603fb7cee8</string>
	<key>InfuraProjectId</key>
	<string>7bffa4b191da4e9682d4351178c4736e</string>
	<key>InfuraProjectSecret</key>
	<string>5dedf9a8a4c4477687cfac3debbc23c6</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>MixpanelToken</key>
	<string>d0b3200d7b77474e2b54bccb56441c74</string>
	<key>NSAccentColorName</key>
	<string>AccentColor</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://cryptomarket-api.herokuapp.com/appcast.xml</string>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>b871d4bebc15f24306830f9709074157</string>
	</dict>
</dict>
</plist>
